/*font-family: 'Inter', sans-serif;


back col #10012C 


color #FFA01B

*/

*{
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    transition: ease;
    transition-duration: 500ms;
    box-sizing: border-box;
    text-decoration: none;
}

p{
    line-height: 25px;
}

.text-white{
    color: white;
}

.text-gold{
    color: #FFA01B;
}

.text-black{
    color: black;
}


header{
    width: 100%;
    height: auto;
    background-color: #10012C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    min-height: 100vh;
}


.header-layer-1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px;
}


/*navbar*/

nav{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 5%;
    padding-block: 10px;
}

.nav-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
}

.nav-left ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
    font-size: 1rem;
}

.nav-left ul li a:hover{
    color: #FFA01B;
    text-decoration:double;
}

.nav-right{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.nav-right a{
    padding-inline: 15px;
    padding-block: 7px;
    border: 1px solid #FFA01B;
    color: white;
    border-radius: 33px;
    font-size: 1rem;
}

.nav-right a:hover{
    padding-inline: 15px;
    padding-block: 7px;
    border: 1px solid #FFA01B;
    color: white;
    background-color: #FFA01B;
    border-radius: 33px;
    font-size: 1rem;
}

.header-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 0px;
}



.header-main-right{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

.header-main-right img{
    width: 100%;
}

/*header main left*/

.header-main-left{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


.header-main-left h1{
    font-size: 4rem;
}

.header-main-left p{
    font-size: 1rem;
    letter-spacing: 2px;
}


.header-main-left a{
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 33px;
    border: 1px solid #FFA01B;
    color: white;
    width: fit-content;
    margin-block: 20px;
}


.header-main-left a:hover{
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 33px;
    border: 1px solid #FFA01B;
    color: #10012C;
    background-color: white;
    width: fit-content;
    margin-block: 20px;
}



/*caluclator*/

.calculator-section{
    background-color: #10012C;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-block: 70px;
    padding-inline: 20px;
}

.calculator-left{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border: 1px solid white;
    border-radius: 33px;
    box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.241);
    gap: 20px;
}

.calculator-left H1{
    font-size: 1.5rem;
    line-height: 30px;
}

.calculator-left:hover{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border: 1px solid #FFA01B;
    border-radius: 33px;
    box-shadow: 0px 3px 15px #ffa01b4d;
}



.price-in-calculator{
    padding-inline: 10px;
    padding-block: 5px;
    border: 1px solid transparent;
    background-color: #FFA01B;
    border-radius: 33px;
    width: fit-content;
}

.calculator-left input{
    padding: 10px;
    border-radius: 33px;
    font-size: 1rem;
}

.calculator-right{
    width: 45%;
    height: auto;
    pad: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.calculator-right p{
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 25px;
}


/*responsive code*/


@media screen and (max-width: 1000px){
    .header-main-left h1{
        font-size: 3rem;
    }
}

@media screen and (max-width: 900px){
    .header-main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        margin-top: 0px;
        padding-top: 40px;
    }
}

@media screen and (max-width: 800px){
    .header-main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        margin-top: 0px;
        padding-top: 40px;
    }

    .header-main-right{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: center;
    }
    
    .header-main-right img{
        width: 90%;
    }
    
    /*header main left*/
    
    .header-main-left{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        }


        .calculator-section{
            background-color: #10012C;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            padding-block: 90px;
            padding-inline: 20px;
            gap: 80px;
        }

        .calculator-left{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 20px;
            border: 1px solid white;
            border-radius: 33px;
            box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.241);
            gap: 20px;
        }
        
        .calculator-left H1{
            font-size: 1.2rem;
        }
        
        .calculator-left:hover{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 20px;
            border: 1px solid #FFA01B;
            border-radius: 33px;
            box-shadow: 0px 3px 15px #ffa01b4d;
        }
        
        
        
        .price-in-calculator{
            padding-inline: 10px;
            padding-block: 5px;
            border: 1px solid transparent;
            background-color: #FFA01B;
            border-radius: 33px;
            width: fit-content;
        }
        
        .calculator-left input{
            padding: 10px;
            border-radius: 33px;
            font-size: 1rem;
        }
        
        .calculator-right{
            width: 100%;
            height: auto;
            pad: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
        }

}


@media screen and (max-width: 600px){
    .header-main-left h1{
        font-size: 2rem;
        line-height: 45px;
    }

    .header-main-left{
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        }

        .header-main-right img{
            width: 100%;
        }
}

@media screen and (max-width:400px){
    .price-in-calculator p{
        font-size: 0.7rem;
    }

    .calculator-left h2{
        font-size: 1rem;
    }
}